<h1>Stupid Coaching</h1>

<% if @question == "I am going to work" %>
  <% answer = "Great!" %>
<% elsif @question.include?("?") %>
  <% answer = "Silly question, get dressed and go to work!" %>
<% else %>
  <% answer = "I don't care, get dressed and go to work!" %>
<% end %>

<p><%= answer %></p>

<p><%= link_to "Ask a new question", ask_path %></p>
